/*
This CSS is really just for this demo page
But take a look at the comments to see how I set padding
and borders on the images
*/
html body{
    margin:0;
    padding:0;
    background-color:rgb(230, 230, 230);
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
    height: 100%;
}



@font-face {
    font-family: 'Andantino script';
    font-style: normal;
    font-weight: 400;
    src: local('Andantino script'), local('Andantinoscript-Regular'),
        url(../fonts/andantino-script.woff) format('woff'),
        url(../fonts/andantino-script.ttf) format('truetype');
}

header {
    font-family: 'Andantino script';
    font-size: 72px;
    text-align: center;
}

.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}